<!-- 
  Types of alerts: success/ danger/ warning/  info 
-->
<div class="alerts col-lg-12">
  <div class="alert alert--success" role="alert">
    <div class="col-lg-10 alert_block--left">
        <h2>¿Te está gustando nuestro nuevo sitio?</h2>
        <p> Estamos estrenando sitio, si tienes tiempo danos tu opinión </p>
        <a href="#">Tomar encuesta ></a>
    </div>
    <div class="col-lg-2 alert_block alert_block--right" data-dismiss="alert" aria-label="Close">
         OTRO DÍA 
         <span class="close-icon">
           <img class="close-icon" src="/src/app/assets/img/icon-close.svg" alt="">
        </span>
         <!-- <span class="alert_icon--cierre_menu-80-alert"></span> -->
    </div>
  </div>
</div>