<button ng-click="click()" class="baza-button--boton-menu" ng-disabled="disabled">
    <div class="baza-button--boton-menu__icon-container">
        <img class="baza-button--boton-menu__icon" src="{{icon}}" alt="">
    </div>
    <span class="baza-button--boton-menu__content" ng-transclude></span>
    <span class="baza-button--boton-menu__label">
        Explora <img class="baza-button--boton-menu__label-icon"
                       src="/src/app/assets/img/icon-arrow--ligth.svg" alt=""></span>
</button>
