<div class="container text-center">
    <h1>Styleguide Page</h1>
    <br><br>
    <div class="row d-flex">
        <h2 class="col-md-4">Buttons</h2>
        <div class="col-md-4">
            Normal State / Hover
        </div>
        <div class="col-md-4">
             Inactive
        </div>
    </div>
    <br>
    <div class="row d-flex">
        <h2 class="col-md-4">Botão Primario</h2>
        <div class="col-md-4">
            <generic-button>Login</generic-button>
        </div>
        <div class="col-md-4">
            <generic-button disabled>Login</generic-button>
        </div>
    </div>
    <br>
    <div class="row d-flex">
        <h2 class="col-md-4"> Botão fechar</h2>
        <div class="col-md-4">
            <generic-button type="boton-cierre"></generic-button>
        </div>
        <div class="col-md-4">
            <generic-button type="boton-cierre" icon="dark"></generic-button>
        </div>
    </div>            
<br>
</div>

<div class="col-md-11 input--forms" style="margin:10px;">
    <h2 class="text-left">Inputs</h2>
    <br>
    <!--input padrão-->
    <generic-input ng-type="text" ng-icon="" ng-class="" ng-valid="" ng-name="pattern-input" placeholder="placeholder"></generic-input>
    <!--./input padrão-->
    <br>
    <!--input padrão-->
    <generic-input ng-type="text" ng-icon="" ng-class="" ng-valid="true" ng-name="pattern-input" placeholder="placeholder">
        <div class="valid-feedback">Example invalid feedback text</div>
    </generic-input>
    <!--./input padrão-->
    <br>
    <!--input padrão-->
    <generic-input ng-type="text" ng-icon="" ng-class="" ng-valid="false" ng-name="pattern-input" placeholder="placeholder">
        <div class="invalid-feedback">More example invalid feedback text</div>
    </generic-input>
    <!--./input padrão-->
    <br>
    <!--input padrão com ico-->
    <generic-input ng-type="text" textbtn="" ng-icon="" ng-class="" ng-name="pattern-input" placeholder="input com mascara" mask="00.000.00"></generic-input>
    <!--./input padrão com ico-->
    <br>
    <!--input padrão com ico-->
    <generic-input ng-type="text" textbtn="" icon="/src/app/assets/img/sucursales.svg" ng-class="" ng-name="pattern-input" placeholder="input com icone" ></generic-input>
    <!--./input padrão com ico-->

</div>