<div class="card card-01 card-produto">
  <div class="card-header">
    <span class="top-left">Promoções</span>
    <span class="top-right">Xbox</span>
  </div>
  <img class="card_img--top" src="https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?h=350&auto=compress&cs=tinysrgb"
    alt="Card image cap">
  <div class="card-body">
    <span class="badge-box"><i class="fa fa-check"></i></span>
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="card-footer text-center">
      <p>
        <button href="#" class="btn btn-default">Explore</button>
      </p>
      <p>
        <a href="#" class="card-link">Explore</a> >
      </p>
    </div>
  </div>
</div>
